body {
    margin: 0px
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
footer {
    background-color: rgb(194, 226, 51);
    padding: 48px
}
img {
    display: grid;
    padding: 10px;
    height: 200px
}
nav {
    background-color: rgb(194, 226, 51);
    border-bottom: solid rgb(204, 159, 11) 2px;
    padding: 16px 
}
.head-link {
    color: rgb(133, 3, 3);
    text-decoration: none
}
.head-link:hover {
    color: rgb(163, 0, 196);
    text-decoration: none;
}
a {
    color: rgb(45, 199, 71);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(4, 129, 92);
    background-color: transparent;
    text-decoration: none;
}

tr:nth-child(2n) {
    background-color: rgba(82, 81, 81, 0.603);
}
