body {
    margin: 0px
}
main {
    padding: 16px
}
footer {
    padding: 24px 0px 24px 0px
}
img {
    height: 200px
}
nav {
    border-bottom: solid black 1px;
    padding: 16px
    backgroundcolor
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
